<div class="flex justify-content-center align-items-center flex-wrap h-full pb-8">
  <div class="z-4 w-6">
    <div class="flex justify-content-center align-items-center flex-wrap">
      <div class="text-center">
        <div class="text-4xl text-white font-bold">Search for News...</div>
      </div>
    </div>
    <div class="grid">
      <div class="col-8 mt-4">
        <div class="flex justify-content-end align-items-center w-full">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search" />
          </span>
        </div>
      </div>
      <div class="col-4 mt-4">
        <div class="flex justify-content-end align-items-center w-full">
          <p-dropdown [options]="[]" optionLabel="pageCount" placeholder="Item Count"></p-dropdown>
        </div>
      </div>

      <div class="col-3 mt-4">
        <p-card header="header"> Content </p-card>
      </div>
      <div class="col-3 mt-4">
        <p-card header="header"> Content </p-card>
      </div>
      <div class="col-3 mt-4">
        <p-card header="header"> Content </p-card>
      </div>
      <div class="col-3 mt-4">
        <p-card header="header"> Content </p-card>
      </div>
      <div class="col-3 mt-4">
        <p-card header="header"> Content </p-card>
      </div>
    </div>
  </div>
</div>
