<mat-drawer-container class="navigation-container">
  <mat-drawer mode="side" class="nav-drawer-container" opened>
    <div class="container overflow-hidden">
      <div class="row m-2 pt-3">
        <div class="col-12">
          <div class="text-start nav-logo">
            Decentralized<br />
            Freelance News
          </div>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-12">
          <button mat-button class="w-100">
            <div class="nav-drawer-button-item" [ngClass]="{ selected: selectedIndex === 1 }">
              <mat-icon>home</mat-icon>
              <div>Home</div>
            </div>
          </button>
        </div>
      </div>

      <div class="row pt-2">
        <div class="col-12">
          <button mat-button class="w-100">
            <div class="nav-drawer-button-item" [ngClass]="{ selected: selectedIndex === 2 }">
              <mat-icon>newspaper</mat-icon>
              <div>Create Article</div>
            </div>
          </button>
        </div>
      </div>

      <div class="row pt-2">
        <div class="col-12">
          <button mat-button class="w-100">
            <div class="nav-drawer-button-item" [ngClass]="{ selected: selectedIndex === 3 }">
              <mat-icon>fingerprint</mat-icon>
              <div>Identity</div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="w-100 h-100">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
