<mat-drawer-container class="navigation-container">
  <mat-drawer mode="side" class="nav-drawer-container" opened>
    <div class="container overflow-hidden">
      <div class="row m-2 pt-3">
        <div class="col-12">
          <div class="text-start nav-logo">
            Decentralized<br />
            Freelance News
          </div>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-12">
          <button mat-button color="primary" class="w-100">
            <div class="nav-drawer-button-item">
              <mat-icon>home</mat-icon>
              <div>Home</div>
            </div>
          </button>
        </div>
      </div>

      <div class="row pt-2">
        <div class="col-12">
          <button mat-button color="primary" class="w-100">
            <div class="nav-drawer-button-item">
              <mat-icon>newspaper</mat-icon>
              <div>Create Article</div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
