<div class="d-flex flex-column h-100 w-100">
  <h1 mat-dialog-title>Upload Article Content to IPFS</h1>
  <div
    mat-dialog-content
    class="d-flex justify-content-center align-items-center upload-ipfs-modal-content"
  >
    <button mat-button (click)="hiddenUploadInput.click()" color="none">
      <mat-icon>upload</mat-icon>
      <input
        #hiddenUploadInput
        id="hiddenUploadInput"
        class="d-none"
        type="file"
        (change)="onFileAdded($event)"
      />
      Add file
    </button>
  </div>
  <div mat-dialog-actions class="d-flex flex-row-reverse gap-2">
    <button mat-flat-button color="primary" (click)="onUpload()" [disabled]="!fileAdded">
      Upload
    </button>
    <button mat-flat-button (click)="onCancel()">Cancel</button>
  </div>
</div>
