@use 'apps/main-ui-app/src/assets/styles/variables' as vars;

.news-article-container {
  width: 470px;
  display: flex;

  .news-article-title-container {
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
    align-items: start;

    &--text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 300px;
      cursor: pointer;
    }
    &--rating {
      justify-self: end;
    }
  }

  .news-article-content {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: vars.$text-color;
    height: 250px;
    max-height: 250px;

    box-shadow: 1px 1px 8px vars.$faded-text-color;
    background: #141e30;
    background: -webkit-linear-gradient(to right, #243b55, #141e30);
    background: linear-gradient(to right, #243b55, #141e30);

    &--text {
      color: vars.$text-white-color;
      margin: 20px;
      text-align: center;
    }
  }

  .news-article-actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
  }
}

.mat-card-header-text {
  margin: 0 !important;
}
